services:
  app:
    build:
      context: .
      dockerfile: dockerfiles/Dockerfile
    networks:
      - shared-network
    ports:
      - "8090:8090"
    volumes:
      - ./credentials:/credentials  # Google Service Account認証情報
    env_file:
      - .env
    healthcheck:
      test: [ "CMD-SHELL", "wget -qO- http://localhost:8090/api/healthcheck || exit 1" ]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 40s

networks:
  shared-network:
    external: true